page-home-details {

  .apply {
    display:  block;
    border: solid;
    border-color: #d1ae01;
    border-radius:  14px;
    margin-top:  14px;
    padding-left: 31px;
    padding-right:  32px;
    position:  static;
    text-align:  center;
  }
}
