page-home-details {


  img.imageD {
    max-width:  130px;
  }

  .item-inner {
    text-align:  center;
  }

  ion-item.applyitem.item.item-block.item-md {background-color: #008aaa;}

  button.apply {
    background-color: #008aaa;
    color:  white;
    font-size: 19px;
    text-align:  center;
  }
}

