page-home {
  .logo {
    text-align:  center;
  }

  img {
    max-width:  46px;
  }
  .input-wrapper {
    border: none !important;
  }

  .item-inner {
    margin-top:  34px;
    margin-bottom:  34px;
    border: none !important;
  }

  .list-md .item-block .item-inner {
    border-bottom: none;
  }
  img.logoclass {

    max-width: 70px;
    margin-top: 10px;
  }

  .item-md h2 {
    display:  inline;
    margin-top: 16px !important;
    margin-left: 17px;
    position:  absolute;
  }
  //.toolbar-md {
  //  height: 103px;
  //}
}
