page-applied {
  img.logoapplied {
    max-width: 239px;
  }

  .scroll-content {
    text-align:  center;
  }

  p {
    font-size:  17px;
    text-align:  justify;
    margin: 20px;
    color:  gray;
  }
  .input-wrapper {
    text-align:  center;
  }

  .item-inner {
    border: none !important;
  }


  h4 {
    font-size: 17px !important;
    color: #008aaa;
  }
}
